{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
        {% for book in books_pub %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
        {% endfor %}
            </div>
        </div>
    </div>
<div class="links">
   <a href = "{% url 'books' %}{{ prev_date }}"> <<buttom> {{ prev_date }} </buttom>&nbsp;&nbsp;</a>
   <a href = "{% url 'books' %}{{ next_date }}"> <buttom> {{ next_date }} </buttom>></a>
</div>

{% endblock %}